/* FORMATAÇÕES GERAIS */
@charset "UTF-8";

:root {
    --primary-color: #faa032;
    --anchor-color: #1558bc;
    --blc-text-color: #333333;
    --yt-text-color: #d4d8da;
    --alert-color: #fb332c;
    --alert-text-bgc: #ffdcdc;
    --alert-text-border: #ffbebe;
    --yt: #ffffff;
    --fullblack: #000000;
    --black-alpha-5: rgba(0, 0, 0, .5);
    --btn-bgc: #d27832; 
    --btn-hover-bgc: var(--primary-color);
    --important-text-bgc: #fff0d4;
    --gray: #888888;
    --gray-a: #aaaaaa;
    --gray-c: #cccccc;
    --gray-d: #dddddd;
    --gray-e: #eeeeee;
    --gray-light: #f4f4f4;
    --gray-dark: #555555;
    --placeholder-color: #757575;
    --border-color: var(--gray-c);
    --header-bgc: var(--gray-dark);
    --footer-bgc: var(--header-bgc); 
}

@media screen and (min-width: 1024px) {
    :root {
        --border-color: var(--gray-a);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blc-text-color);
    cursor: default;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

*::selection {
    background-color: var(--primary-color);
    color: var(--yt);
}

a:link, a:visited {
    color: var(--anchor-color);
    text-decoration: none;
}

a:active, button {
    opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4, dt {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

ul, ol, dl {
    padding: 0;
}

li {
    margin-bottom: 10px;
    line-height: 1.5;
}

p, span, dt, dd, main li:last-child {
    margin-bottom: 15px;
    line-height: 1.5;
}

ul li {
    list-style-type: disc;
}

ol li {
    list-style-type: decimal;
}

b, strong {
    font-weight: bold;
}

span.sup-parent {
    position: relative; 
    display: inline-block;
    margin-right: 6px;
}

sup {
    position: absolute;
    top: -1px;
    font-size: 11px;
    font-weight: bold;
    margin-right: 2px;
}

abbr {
    text-decoration: none;
}

figure, picture {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

button, input {
    border: none;
    outline: none;
}

.destaque {
    background-color: var(--important-text-bgc);
    border-left: 4px solid var(--primary-color);
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    font-style: italic;
}

.linha {
    max-width: 1245px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    header div.linha, 
    footer div.linha {
        padding: 0 4%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1244px) {
    header div.linha, 
    footer div.linha {
        padding: 0 10px;
    }
}

/* CABECALHO */
header {
    color: var(--yt-text-color);
}

header div._100vw {
    background-color: var(--header-bgc);
    border-bottom: 4px groove var(--primary-color);
    line-height: 2;
}

header div._100vw a#logotipo {
    color: var(--primary-color);
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    font-size: 22px;
}


nav.menu-principal {
    width: 100%;
}

@media screen and (min-width: 1440px) {
    nav {
        max-width: 1245px;
        margin: auto;
    }
}

nav.menu-principal ul {
    display: flex;
}

nav.menu-principal ul li {
    flex: 1;
    text-align: center;
    margin: 0;
    list-style: none;
}

nav.menu-principal a {
    flex: 1;
    display: block;
    min-height: 100%;
    padding: 5px;
    text-align: center;
    color: var(--gray-a);
    background-color: var(--gray-e);
}

@media screen and (min-width: 1024px) {
    nav.menu-principal a {
        font-size: 16px;
    }
}

nav.menu-principal a:hover {
    background-color: var(--gray-d);
    color: var(--blc-text-color);
}

nav.menu-principal a.current {
    background-color: var(--yt);
    color: var(--blc-text-color);
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    nav.menu-principal li:first-child a.current {
        border-left: 1px solid var(--border-color);
    }
    
    nav.menu-principal li:last-child a.current {
        border-right: 1px solid var(--border-color);
    }
}

nav.menu-principal a.current:hover {
    background-color: var(--yt);
}

/* MAIN  */ 
main.linha {
    flex: 1;
    width: 100%;
    background-color: var(--gray-e);
}

@media screen and (min-width: 376px) {
    main.linha {
        margin: 30px auto 20px auto !important;
        background-color: var(--yt);
    }
}

@media screen and (min-width: 1024px) {
    main.linha {
        margin: 30px auto 20px auto !important;
        display: grid;
        grid-template-columns: 380px 1fr;
        grid-column-gap: 30px;
    }
}

/* Doseador */

div.doseador {
    align-self: start;
    width: 100%;
    max-width: 375px;
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 20px 10px 10px 10px !important;
    background-color: var(--yt);
}

@media screen and (min-width: 376px) {
    div.doseador {
        border-top: 1px solid var(--border-color);
        border-radius: 8px;
        margin: 0 auto 20px auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1244px) {
    div.doseador {
        margin-left: 10px;
    }
}

div.doseador h1 {
    text-align: center;
}

@media screen and (max-width: 355px) {
    div.doseador h1 {
        font-size: 19px;
    }   
}

div.doseador > div {
    min-height: 35px;
    border: 1px solid var(--border-color);
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition-duration: 400ms;
}

div.doseador > div.hover {
    border-color: var(--primary-color);
}

div.doseador > div.output {
    min-height: 84px;
    position: relative;
    padding: 20px 8px;
    flex-direction: column;
}

div.doseador > div.output h2 {
    margin: 0;
    position: absolute;
    top: -18px;
    left: 3px;
    background-color: var(--yt);
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: var(--gray-dark);
}

div.doseador > div.output p.recomendacao {
    background-color: var(--gray-light);
    border-radius: 8px;
    margin: 0;
    align-self: flex-start;
    width: 100%;
}

div.doseador > div.output 
    p.recomendacao.pad-10 {
    padding: 10px;
}

div.doseador > div label {
    margin-left: 8px;
    font-weight: bold;
    color: var(--gray);
}

div.doseador > div label.kg {
    color: inherit;
    font-weight: initial;
    margin-left: 0;
    margin-right: 8px;
}

div.doseador > div input, 
div.doseador > div ul.select {
    flex: 1;
}

div.doseador > div input {
    align-self: stretch;
    padding: 5px;
    font-size: 15px;
}

/* Campo de fármaco */

ul.select {
    display: flex;
    flex-direction: column;
    position: relative;
}

ul.select.on {
    display: block;
    padding: 10px 4% 4% 4%;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: var(--gray-light);
    box-shadow: 0 4px 15px var(--gray-a);
}  

@media screen and (min-width: 1024px) {
    div.doseador > div.campo-de-farmaco {
    position: relative;
    }

    ul.select.on {
        top: 0;
        min-height: 60vh;
        max-height: 60vh;
        padding: 10px 8px;
    } 
}

ul.select li {
    flex: 1;
    padding: 5px;
    list-style: none;
    margin: 0;
    display: none;
    transition: padding 250ms ease;
}

ul.select li:active {
    opacity: 0.7;
}

ul.select li.placeholder {
    color: var(--placeholder-color) !important;
}

ul.select li.selected {
    display: initial;
    flex: 1;
    margin: 0;
}

@media screen and (max-width: 345px) {
    ul.select li.selected {
        font-size: 13.5px;
    }
}

ul.select div.optgroup {
    width: 100%;
    display: flex;
}

ul.select div.optgroup h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
    display: none;
}

ul.select div.optgroup li.rtv {
    position: relative;
}

ul.select div.caixa-de-pesquisa {
    position: sticky;
    top: -10px;
    display: flex;
    background-color: inherit;
    z-index: 1000;
}

ul.select div.caixa-de-pesquisa button, 
ul.select div.caixa-de-pesquisa input {
    display: none;
}

ul.select div.caixa-de-pesquisa button {
    background-color: inherit;
}

ul.select div.caixa-de-pesquisa input {
    width: 100%;
    min-height: 35px;
}

ul.select.on li.placeholder {
    display: none !important;
}

ul.select.on div.caixa-de-pesquisa {
    box-shadow: 0 1px 3px var(--gray-c);
    margin-bottom: 5px;
    background-color: var(--yt);
    padding: 2px 8px;
    border-radius: 20px;
}

ul.select.on div.caixa-de-pesquisa button, 
ul.select.on div.caixa-de-pesquisa input {
    display: block;
    background-color: var(--yt);
}

ul.select.on div.optgroup {
    display: block;
}

ul.select.on div.optgroup h3, 
ul.select.on div.optgroup li {
    display: block;
}

ul.select.on div.optgroup li {
    padding-left: 4%;
}

ul.select.on div.optgroup li:hover {
    background-color: var(--gray-d);
}

/* Classes Manipuláveis com JS */
.hide {
    display: none !important;
}

p.msg-de-validacao-de-peso {
    margin: 8px 0 0 0;
    transition-duration: 150ms;
}

p.msg-de-validacao-de-peso.on {
    font-size: 14px;
    color: var(--alert-color);
    background-color: var(--alert-text-bgc);
    padding: 2px 8px;
    border-top: 1px solid var(--alert-text-border);
}

table {
    width: 281px;
    table-layout: fixed;
    border: 1px solid var(--gray-c);
    background-color: var(--gray-light);
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}

article table {
    margin: 0 0 15px 0;
}

table th, table td {
    line-height: 1.5;
}

table th {
    background-color: var(--gray-d);
}

table td {  
    font-weight: bold;
}

table tr th:first-child, 
table tr td:first-child {
    border-right: 1px solid var(--gray-c);
}

table tr.l3 {
    border: 1px solid var(--gray-c);
}

article {
    background-color: var(--yt);
    margin-top: 10px;
    border-top: thin solid var(--gray-d);
    padding: 20px 4%;
}

@media screen and (min-width: 1024px) {
    article {
        max-height: 80vh;
        overflow-y: auto;
        margin-top: 0;
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    article::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    article::-webkit-scrollbar-thumb {
        background-color: var(--gray);
        border-radius: 40px;
    }

    article::-webkit-scrollbar-thumb:hover {
        background-color: var(--gray-a);
    }

    article::-webkit-scrollbar-thumb:active {
        background-color: var(--gray);
    }
}

article section {
    display: none;
}

@media screen and (max-width: 1023px) {
    article section {
        max-width: 700px;
        margin: 0 auto;
    }
}

article section.on {
    display: block;
}

article ul, article ol {
    padding-left: 6%;
}

article ol li::marker {
    font-weight: bold;
}

article li table {
    margin-top: 10px;
}

article ol.sublista li {
    list-style: none;
    font-style: italic;
}

article ol.sublista li::before {
    padding-right: 4px;
    margin-left: -5%;
    font-weight: bold;
    font-style: italic;
}

article ol.sublista li:first-child::before {
    content: "3.1.";
}

article ol.sublista li.last-child::before {
    content: "3.2.";
}

article div.exemplo table {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    article div.exemplo {
        display: grid;
        grid-template-columns: 280px 1fr;
        grid-column-gap: 5px;
    }
    article div.exemplo p.destaque.ex {
        grid-column: 1/3;
    }
}

section.criterios-de-tpc span.destaque {
    display: block;
    font-size: 13px;
    margin-top: 10px;
}

/* PROPAGANDA */
section.propaganda {
    padding: 20px 10px 20px 0;
    background: linear-gradient(-180deg, var(--gray-e) 0%, var(--yt) 50%);
}

div.linha-de-propaganda h4 {
    color: var(--gray-dark);
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 10px;
}

div.contentor-dos-cards {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-column-gap: 15px;
    max-width: 100%;
    overflow: auto;
    padding: 0 0 10px 10px;
}

@media screen and (min-width: 1245px) {
    section.propaganda {
        padding-right: 0;
    }

    div.linha-de-propaganda {
        max-width: 1245px;
        margin: 0 auto;
    }

    div.linha-de-propaganda h4 {
        margin-left: 0;
    }
    
    div.contentor-dos-cards {
        padding-left: 0;
        justify-content: center;
    }
}

div.contentor-dos-cards div.col {
    box-shadow: 0 4px 6px var(--gray-a);
    border-radius: 5px;
    background-color: var(--yt);
}

div.contentor-dos-cards div.col:active {
    opacity: 0.7;
} 

div.contentor-dos-cards a {
    display: grid;
    grid-template-rows: 145px 1fr;
    color: var(--gray-dark);
    height: 100%;
}

div.contentor-dos-cards a div:first-child {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gray-c);
}

@media screen and (max-width: 1023px) {
    div.contentor-dos-cards a div:first-child {
        background-size: 100%;
    }
}

div.contentor-dos-cards a div.cdp {
    background-image: url("../imagens/calculadora-de-doses.png");
}

div.contentor-dos-cards a div.trmhiv {
    background: url("../imagens/totalizador-de-resumo-mensal-de-hiv.png") bottom left;
}

div.contentor-dos-cards a div.trmc {
    background-image: url("../imagens/totalizador-de-resumo-mensal-de-consultas.png");
}

div.contentor-dos-cards a div.trmsaaj {
    background-image: url("../imagens/totalizador-de-resumo-mensal-de-saaj.png");
}

section.propaganda a div.description {
    padding: 0 10px 10px 10px;
    background-color: var(--yt);
    display: flex;
    flex-direction: column;
}

div.contentor-dos-cards div.description h5 {
   color: var(--blc-text-color);
   font-size: 14px;
}

div.contentor-dos-cards div.description p {
    font-size: 13px;
    flex: 1;
    margin-bottom: 10px;
 }

div.description span.visitar {
    font-size: 14px;
    color: var(--yt);
    background-color: var(--btn-bgc);
    display: block;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    margin: 0;
    width: 110px;
}

div.description span.visitar:hover {
    background-color: var(--btn-hover-bgc);
}

/* RODAPÉ */
footer {
    background-color: var(--footer-bgc);
    padding: 40px 0;
    font-size: 14px;
}

footer div.linha a {
    color: var(--primary-color);
}

footer div.linha p {
    color: var(--yt-text-color);
    text-align: center;
    margin: 0;
}
