@charset "UTF-8";
/*$laranja-claro: #fff0d4;*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  cursor: context-menu;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background: #eee;
}

*::selection {
  background-color: #faa032;
  color: #ffffff;
}

a:link, a:visited {
  color: #1558bc;
  text-decoration: none;
}

a:active {
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 22px;
  margin-top: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

ul, ol, dl {
  padding: 0;
}

p, span, li, dt, dd {
  margin-bottom: 15px;
  line-height: 1.5;
}

li {
  margin-bottom: 10px;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

b, strong {
  font-weight: bold;
}

sup {
  position: absolute;
  top: -1px;
  font-size: 11px;
  font-weight: bold;
}

abbr {
  text-decoration: none;
}

figure, picture {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

button, input {
  border: none;
  outline: none;
}

.destaque {
  background-color: #f4f4f4;
  border-left: 4px solid #555555;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  margin-top: 5px;
  font-style: italic;
}

.linha {
  max-width: 1124px;
  margin: 0 auto;
}
@media screen and (max-width: 1124px) {
  .linha {
    padding: 0 15px;
  }
  
}
@media screen and (max-width: 768px) {
  .linha {
    padding: 0 4%;
    
  }
  
  .linha.menu-principal {
      padding: 0;
  }
}

/* CABECALHO */
header {
  color: #d4d8da;
}
header ._100vw {
  background-color: #555;
  border-bottom: 4px groove #faa032;
  line-height: 2;
  /*padding: 10px 0;*/
}
header ._100vw #logotipo {
  color: #faa032;
  /* font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;*/
  font-size: 22px;
}

.menu-principal ul {
  display: flex;
}
.menu-principal ul li {
  flex: 1;
  text-align: center;
  margin: 0;
  list-style: none;
}
.menu-principal a {
  flex: 1;
  display: block;
  min-height: 100%;
  padding: 5px;
  text-align: center;
  color: #aaaaaa;
  background-color: #eeeeee;
  
}
@media screen and (max-width: 375px) {
  
  /*.menu-principal { background: #eee; margin: 0 2.5% !important;
  }*/
  .menu-principal a {
    background: #eee;
    font-size: 15px;

  }
  
  .menu-principal li:first-child a {
    border-left: 1px solid #eee;
  }
  
  
  .menu-principal li:last-child a {
    border-right: 1px solid #eee;
  }
}
.menu-principal a.current {
  background-color: #fff;
  color: #333333;
  font-weight: bold;
  border-color: #ddd !important;
  
}
@media screen and (max-width: 375px) {
  .menu-principal a.current {
    border-bottom: none;
    
  }
}
.menu-principal a.current:hover {
  background-color: #fff;
}
.menu-principal a:hover {
  background-color: #dddddd;
  color: #333333;
}

/* Doseador */
main {
  flex: 1;
  width: 100%;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-column-gap: 30px;
  padding: 0 !important;
  background: #eee;
  
}
@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  main {
    margin-top: 0 !important;
  }
}

div.doseador {
  align-self: start;
  width: 100%;
  max-width: 375px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  padding: 20px 10px 10px 10px !important;
  background: #fff;
}
@media screen and (max-width: 1124px) {
  div.doseador {
    margin-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  div.doseador {
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  div.doseador {
    border-top: none;
    border-radius: 0;
    padding-top: 20px;
    border-color: #ccc;

   /* max-width: 95%;*/
  }
}
div.doseador h1 {
  text-align: center;
  transition-duration: 250ms;
}
div.doseador > div {
  min-height: 35px;
  border: 1px solid #aaaaaa;
  margin: 20px auto 10px auto;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition-duration: 400ms;
}
@media screen and (max-width: 375px) {
  div.doseador > div {
    border-color: #ccc;
  }
}
div.doseador > div.output {
  margin-bottom: 0;
  min-height: 84px;
  position: relative;
  padding: 20px 8px;
  font-size: 14px;
  flex-direction: column;
}
div.doseador > div.output h2 {
  margin: 0;
  position: absolute;
  top: -18px;
  left: 3px;
  background-color: #ffffff;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  color: #555;
  
}
div.doseador > div.output p.recomendacao {
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 0;
  align-self: flex-start;
  width: 100%;
  font-size: 15px;
}
div.doseador > div.output p.recomendacao.padding-10 {
  padding: 10px;
}
div.doseador > div label {
  font-size: 15px;
  margin-left: 8px;
  font-weight: bold;
  color: #888888;
}
div.doseador > div label.kg {
  color: inherit;
  font-weight: initial;
  margin-left: 0;
  margin-right: 8px;
}
div.doseador > div input, div.doseador > div ul.select {
  flex: 1;
  font-size: 1rem;
  font-size: 15px;
}
div.doseador > div input {
  align-self: stretch;
  padding: 5px;
}

ul.select {
  display: flex;
  flex-direction: column;
  position: relative;
}
ul.select li {
  flex: 1;
  padding: 5px;
  list-style: none;
  margin: 0;
  display: none;
  transition: padding 250ms ease;
}
ul.select li:active {
  opacity: 0.7;
}
ul.select li.placeholder {
  color: #757575 !important;
}
ul.select li.selected {
  display: initial;
  flex: 1;
  margin: 0;
}
ul.select div.optgroup {
  width: 100%;
  display: flex;
}
ul.select div.optgroup h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 5px;
  display: none;
}
ul.select div.optgroup li.rtv {
  position: relative;
}
ul.select div.caixa-de-pesquisa {
  position: sticky;
  top: -10px;
  display: flex;
  background-color: inherit;
  z-index: 1000;
}
ul.select div.caixa-de-pesquisa button, ul.select div.caixa-de-pesquisa input {
  display: none;
}
ul.select div.caixa-de-pesquisa button {
  background-color: inherit;
}
ul.select div.caixa-de-pesquisa input {
  width: 100%;
  min-height: 35px;
}
ul.select.on {
  display: block;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 10;
  min-height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px #dddddd;
  padding: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 15px #aaaaaa;
  border: 1px solid #cccccc;
  width: 100%;
  
}   
@media screen and (min-width: 1024px) {
  ul.select.on {
    width: 100%;
    min-height: 75vh;
    max-height: 75vh;
  }
}
ul.select.on li.placeholder {
  display: none !important;
}
ul.select.on div.caixa-de-pesquisa {
  box-shadow: 0 1px 3px #cccccc;
  margin-bottom: 5px;
  background-color: #ffffff;
  padding: 2px 8px;
  border-radius: 20px;
}
ul.select.on div.caixa-de-pesquisa button, ul.select.on div.caixa-de-pesquisa input {
  display: block;
  background-color: #ffffff;
}
ul.select.on div.optgroup {
  display: block;
}
ul.select.on div.optgroup h3, ul.select.on div.optgroup li {
  display: block;
}
ul.select.on div.optgroup li {
  padding-left: 4%;
}
ul.select.on div.optgroup li:hover {
  background-color: #dddddd;
}

article {
  font-size: 15px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 15px;
  background-color: #fff;
}
@media screen and (min-width: 1124px) {
  article::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  article::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 40px;
  }
  article::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
  }
  article::-webkit-scrollbar-thumb:active {
    background-color: #888888;
  }
}
@media screen and (max-width: 768px) {
  article {
    max-height: 100%;
    margin-top: 10px;
    padding: 20px 4% 0 4%;
    border-top: thin solid #dddddd;
  }
}
article section {
  display: none;
  transition-duration: 250ms;
}
article section.on {
  display: block;
}
article h2 {
  margin-top: 0;
}
article ul, article ol {
  padding-left: 6%;
}
article ol li::marker {
  font-weight: bold;
}

article ol figure.margin-top-10 {
  margin-top: 10px;
}
article ol.sublista li {
  list-style: none;
  font-style: italic;
}
article ol.sublista li::before {
  padding-right: 4px;
  margin-left: -5%;
  font-weight: bold;
  font-style: italic;
}
article ol.sublista li:first-child::before {
  content: "3.1.";
}
article ol.sublista li.last-child::before {
  content: "3.2.";
}
article div.exemplo {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-column-gap: 5px;
}
article div.exemplo p.destaque.ex {
  grid-column: 1/3;
}
@media screen and (max-width: 1030px) {
  article div.exemplo {
    display: block;
  }
}
@media screen and (min-width: 1031px) {
  article div.exemplo p.interpretacao {
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
  }
}
article section.criterios-de-tpc span.destaque {
  display: block;
  font-size: 13px;
  margin-top: 10px;
}

/* PROPAGANDA */
section.propaganda {
  font-size: 14px;
  padding: 20px 0 30px 0;
  background: linear-gradient(-180deg, #eeeeee 0%, #ffffff 50%);
  padding-right: 4% !important;
}
section.propaganda .linha h3 {
  margin-top: 0;
  grid-column: 1/4;
  color: #555555;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  section.propaganda .linha {
    padding: 0;
  }
  section.propaganda .linha h3 {
    margin-left: 4%;
  }
}
section.propaganda div.linha-dos-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  overflow-x: auto;
  padding-bottom: 20px;
  padding-right: 8% !important;
}
@media screen and (max-width: 768px) {
  section.propaganda div.linha-dos-cards {
    grid-column-gap: 10px;
    padding-left: 4%;
    padding-right: 4%;
  }
}
section.propaganda div.linha-dos-cards .col {
  min-width: 275px;
  box-shadow: 0 4px 6px #aaaaaa;
  border-radius: 5px;
  padding-top: 4px;
  background-color: #ffffff;
}
section.propaganda div.linha-dos-cards .col:active {
  opacity: 0.7;
}
section.propaganda a {
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
section.propaganda a figure {
  max-height: 103.77px;
  overflow: hidden;
  margin-bottom: 0;
}
section.propaganda a div.description {
  flex: 1;
  padding: 10px;
}
section.propaganda figure img {
  max-height: 100%;
}
section.propaganda div.description h5 {
  margin-top: 0;
  margin-bottom: 10px;
}
section.propaganda div.description span.visitar {
  color: #1558bc;
}

/* RODAPÉ */
footer {
  background-color: #555555;
  padding: 40px 0;
  font-size: 14px;
}
footer .linha a {
  color: #faa032;
}
footer .linha p {
  color: #d4d8da;
  text-align: center;
  margin: 0;
}

/* Classes Manipuláveis com JS */
.hide {
  display: none !important;
}

p.msg-de-validacao-de-peso {
  margin: 0;
  transition-duration: 150ms;
}
p.msg-de-validacao-de-peso.on {
  font-size: 14px;
  color: #fb332c;
  background: #ffdcdc;
  padding: 2px 8px;
  border-top: 1px solid #ffbebe;
}

table {
  min-width: 300px;
  border: 1px solid #cccccc;
  background-color: #f4f4f4;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  border-collapse: collapse;
}
table th, table td {
  line-height: 1.5;
}
table th {
  background-color: #dddddd;
}
table td {
  font-weight: bold;
}
table tr th:first-child, table tr td:first-child {
  border-right: 1px solid #cccccc;
}
table tr.l3 {
  border: 1px solid #cccccc;
}

/*# sourceMappingURL=index.css.map */
